/* CSS Document */
$primaryColor: #900;
$secondaryColor: #900;
$tertiaryColor: #c00;
$darkerColor: #111;

.big-col {padding: 0;margin: 0;}

/*
#body-content::after {content: "";height: 300px;display: block;background: url(../images/bg-newbie.jpg) no-repeat 50% 100%;background-size: auto 100%;}
*/
#body-content {margin-bottom: 50px;}

.block-slider {height: auto;overflow: hidden;padding:10px 0;}

.big-col .block-news .news-title ul > li {padding: 0 15px;}
.big-col .block-news .news-content ul {padding: 10px 20px;}
.big-col .block-news .news-content ul > li span {display: none;}

.big-content,.big-category {background-color: #fff;padding: 5%;min-height: 680px;margin-top: 10px;}
.big-content > .title {width: 100%;height: auto;border-bottom: dotted 1px #ccc;overflow: hidden;padding: 0 0 5px 0;}
.big-content > .title h4 {font-family: 'Roboto', sans-serif;font-size: 2.3em;color: $primaryColor;line-height: 1em;padding: 10px 0px 30px 0px;}
.big-content > .title h5 {font-size: 1em;color: #999;float: left;margin: 0;padding: 0;}
.title-menu {font-size: 1em;color: $primaryColor;float: right;margin: 0;padding: 0;}
.title-menu a {color: #999;}
.title-menu a:hover {color: #111;}

.big-content .content {font-size: 1em;}
.big-content .content p {line-height: 1.8em;color: #414141;padding: 30px 0 0 0;}
.big-content .content p img {text-align: center;}

.big-content a {color: $darkerColor;}
.big-content a:hover {color: $secondaryColor;}
.big-content .news-content {border-top: dotted 1px #ccc;background-color: #fff;margin-top: 50px;line-height: 3em;}
.big-content .news-content h4 {font-family: 'Roboto', sans-serif;font-size: 2.3em;color: $primaryColor;line-height: 1em;padding: 10px 0px 10px 0px;}

.big-category a {color: $darkerColor;}
.big-category a:hover {color: $secondaryColor;}
.big-category .news-content {border-top: dotted 1px #ccc;background-color: #fff;margin-top: 20px;line-height: 4em;}
.big-category .news-content ul li {border-bottom: dotted 1px #ececec;}
.big-category .news-content h4 {font-family: 'Roboto', sans-serif;font-size: 2.3em;color: $primaryColor;line-height: 1em;padding: 10px 0px 10px 0px;}
.big-category .title-menu {float: left;}


.page ul {list-style: none;width: 100%;height: 40px;text-align: center;margin: 20px 0 0 0;padding: 0;}
.page ul li {width: 30px;height: 30px;display: inline-block;}
.page ul li a {width: 100%;height: 100%;display: block;line-height: 30px;border:none;color: #fff;background-color: $darkerColor;border-radius: 0px;transition: background-color 0.2s ease;}
.page ul li a.active {background-color: $primaryColor;}
.page ul li a:hover {background-color: $primaryColor;}








