.layout {
  grid-template-areas:
    "download download button button button button button button"
    "download download content content content content content content"
    "feature feature feature feature news news news news";
}
.body-content {
  grid-area: content;
  background-color: var(--w-bodycontent);
  overflow: auto;
}
.body-content .content p {
  line-height: 1.75;
  margin: 1em 0;
}

@media (min-width: 1024px) {
  .block-download {
    max-height: 33em;
  }
}
