@import "../wstyle/style";
@import "../wstyle/woffcanvas";
@import "../wstyle/waccordion";
@import "../wstyle/zanimate";
@import "../images/character/character";
@import "../wstyle/single";
@import "../wstyle/wmodal";

@import "../images/bgvideo/bgvideo";

.block-choingay {
  background: transparent url(../images/block-download.webp) no-repeat center
    bottom;
  background-size: 100% auto;
  aspect-ratio: 1170/332;
  grid-template-columns: 27.25em 17.17em auto;

  .block-store {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: fit-content;
    padding: 8.6em 0 0 2em;

    .game-icon {
      width: 40%;
    }

    .wrap {
      width: 60%;
      display: block;
      height: fit-content;
      overflow: hidden;
      padding: 0 0.75em;
      gap: 0;

      a {
        flex: auto;
        width: 100%;
      }
    }
  }

  .block-btnchoingay {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    padding-bottom: 0em;
  }

  .block-cumbutton {
    width: 95%;
    padding-top: 9.25em;
    padding-left: 1em;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5em;

    a {
      background: transparent url(../images/btn-big.webp) no-repeat center
        center;
      background-size: 300% 100%;
      aspect-ratio: 130/144;
      display: block;
      text-indent: -9999px;
    }

    @for $i from 1 through 3 {
      a:nth-child(#{$i}) {
        background-position: (50% * ($i - 1)) 0%;
      }
    }
  }
}
