#block-single {
  .body-content {
    grid-area: content;
    background-color: var(--w-bodycontent);
    overflow: auto;
    margin-bottom: 2em;

    .breadcrum {
      padding: 1em 0;
      border-bottom: dashed #ccc 1px;

      a {
        padding: 0 0.5em;
      }
    }

    .title {
      margin-top: 1em;
    }
  }
  .body-content .content p {
    line-height: 1.75;
    margin: 1em 0;
  }

  @media (min-width: 1024px) {
  }
}
