@import "../wstyle/wstyle";
@import "../wstyle/woffcanvas";
@import "../wstyle/ztimeline";
@import "../wstyle/wmodal";
@import "../wstyle/zbgvideo";
@import "../wstyle/zanimate";
@import "../wstyle/wtabs";
@import "../wstyle/scroll";
@import "../wstyle/checkin";
@import "../wstyle/float";
@import "../wstyle/character";
@import "../wstyle/wwheel";
@import "../wstyle/countdown";
@import "../wstyle/board";
@import "../wstyle/block-shop";

.w-btn {
  padding: 0.5em 1em;
  border: 1px var(--w-primary) solid;
  border-radius: 0.25em;
  text-transform: uppercase;
}
