$classname: bxh-001;

.block__#{$classname} {
  height: (1500 * $em);
  position: relative;
  z-index: 2;
  background: #ffe6a3 url('../images/block__'+#{$classname}+'/bg-sm.webp')
    no-repeat center 0em scroll;
  background-size: 100vw auto;

  @media (min-width: 1024px) {
    height: (1200 * $lgem);
    background: #ffe6a3 url('../images/block__'+#{$classname}+'/bg-lg.webp')
      no-repeat center 0em scroll;
    background-size: 100vw auto;
  }

  // .wcontainer {
  // }

  // ANCHOR Button
  .group-button {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.5em;
    margin: 10em auto 0 auto;
    @media (min-width: 1024px) {
      width: 30%;
      margin-top: 15.5em;
    }
  }

  .block__bxh {
    width: 100%;
    margin-top: 0.5em;
    @media (min-width: 1024px) {
      width: 1100 * $lgem;
      margin-top: 0em;
    }

    .tabs-button {
      width: 100%;
      display: flex;
      justify-content: center;

      @media (min-width: 1024px) {
        width: 80%;
        margin: 0 auto;
        gap: 1%;
      }
      > button {
        width: 30%;
      }
    }

    tr {
      border-radius: 1em;
      overflow: hidden;
      background: rgb(229, 235, 255);
      background: linear-gradient(
        180deg,
        rgba(229, 235, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.2) 100%
      );
    }

    //top 3
    @for $i from 1 through 3 {
      tbody tr:nth-child(#{$i}) td.stt {
        overflow: hidden;
        span {
          display: none;
        }
        &::after {
          content: "";
          display: block;
          width: 2.5em;
          height: 2.5em;
          aspect-ratio: 1/1;
          background: transparent
            url("../images/block__"+#{$classname}+"/icon-rank0" + $i + ".webp")
            no-repeat
            center
            center;
          background-size: 100% 100%;
          margin: 0 auto;
        }
      }
    }

    thead {
      border-bottom: #ccc 1px solid;
    }

    // .block__select--listserver {
    //   width: 100%;

    //   input {
    //     display: block;
    //     line-height: 2.5em;
    //     height: 2.5em;
    //     background-color: #fff;
    //     border: 1px solid #ccc !important;
    //     padding: 0 1em;
    //     border-radius: 0.5em;
    //     width: 90%;
    //     margin: 0 auto;

    //     @media (min-width: 1024px) {
    //       width: 60%;
    //     }
    //   }
    // }

    .board {
      background-color: rgba($color: #fff, $alpha: 0.9);
      border-radius: 1em;
      line-height: 2.5em;
      padding: 1em;

      @media (min-width: 1024px) {
        background-color: transparent;
        padding: 1em 2em;
      }

      table {
        width: 100%;
        font-size: 1em;
        text-align: center;
        @media (min-width: 1024px) {
          font-size: 1.25em;
        }
      }

      .content-scroll {
        overflow: auto;
        height: 37em;
        line-height: 40/12 + em;
      }
    }

    .status {
      margin-top: 0.5em;
      text-align: center;
      font-size: 0.9em;
      color: green;
    }
  }
}
