.splitter {
  background: transparent url(../images/splitter.png) repeat-x;
  background-size: auto 100%;
  width: 100vw;
  position: absolute;
  height: 1em;
  z-index: 3;
  transform: translateY(-50%);
}
