.zpopup {
  background-color: rgba(255, 255, 255, 0.85);
  border: 0.25em solid var(--w-primary);
  border-radius: 1em;
}

@media (min-width: 960px) {
  .zpopup {
    background: transparent url("../images/popup-bg-lg.png") no-repeat 50% 50%;
    background-size: 100% 100%;
    border: none;
  }
}
