$classname: bxh-02;

#section-#{$classname} {
  height: (1600 * $em);
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: #a20000 url('../images/block-'+#{$classname}+'/bg-sm.webp')
    no-repeat center 0em scroll;
  background-size: 100vw auto;

  @media (min-width: 1024px) {
    height: (1200 * $lgem);
    background: url('../images/block-'+#{$classname}+'/bg-lg.webp') no-repeat
      center 0em scroll;
    background-size: 100vw auto;
  }

  .tabs-button {
    display: flex;
    flex-wrap: nowrap;

    > button {
      width: 100%;
    }
  }
  .board {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1em;
    padding: 1em 1.5em;
    line-height: 3.15em;
    border: 2px solid rgba(247, 106, 51, 0.9);

    @media (min-width: 1024px) {
      background-color: transparent;
      padding: 3em 6em;
    }

    .content {
      display: none;

      &.active {
        display: block;
      }
    }

    .wrapp {
      height: 35.5em;
      overflow: auto;
      margin-top: 0.5em;
    }

    .wselect {
      display: block;
      width: 90%;
      margin: 0.5em auto 0 auto;
      height: 2em;
      border-radius: 1em;
      padding: 0 1em;
      line-height: 2em;
      background-color: #fff;
      border: 1px solid var(--w-primary);
    }
  }

  //top 3
  @for $i from 1 through 3 {
    tbody tr:nth-child(#{$i}) td.stt {
      overflow: hidden;
      span {
        display: none;
      }
      &::after {
        content: "";
        display: block;
        width: 2.5em;
        height: 2.5em;
        aspect-ratio: 1/1;
        background: transparent
          url("../images/block-"+#{$classname}+"/icon-rank0" + $i + ".webp")
          no-repeat
          center
          center;
        background-size: 100% 100%;
        margin: 0 auto;
      }
    }
  }

  thead {
    border-bottom: #ccc 1px solid;
  }
}
