$classname: shop-001;

.block__#{$classname} {
  $ratio: 291/400;

  height: (1600 * $em);
  position: relative;
  z-index: 2;
  background: #e7613e url('../images/block__'+#{$classname}+'/bg-sm.webp')
    no-repeat center 0em scroll;
  background-size: 100vw auto;

  @media (min-width: 1024px) {
    height: (1080 * $lgem);
    background: url('../images/block__'+#{$classname}+'/bg-lg.webp') no-repeat
      center 0em scroll;
    background-size: 100vw auto;
  }

  .wrap {
    width: 90%;
    margin: 11em auto 0 auto;
    @media (min-width: 1024px) {
      width: 1100 * $lgem;
    }
  }

  .block-info {
    text-align: center;
    margin: 0em auto 0 auto;
    background-color: rgba($color: #fff0dc, $alpha: 0.95);
    border-radius: 1em;
    border: solid var(--w-primary) 1px;
    padding: 1em;

    @media (min-width: 1024px) {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.25em;
    }
  }

  .block-button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.25em;
    margin: 0.5em auto 0 auto;
    @media (min-width: 1024px) {
      margin: 0;
      justify-content: flex-end;
    }

    > button {
      max-width: 8em;
    }
  }

  .block-shop {
    margin-top: 1em;
    @media (min-width: 1024px) {
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25em;

    .item-big {
      background: url('../images/block__'+#{$classname}+'/item.webp') no-repeat
        center center scroll;
      background-size: 100% 100%;
      aspect-ratio: $ratio;
      width: 32%;
      font-size: 0.8em;
      padding: 0.5em 0.5em;
      display: flex;
      color: rgb(255, 238, 140);
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0%;
      cursor: pointer;
      .name {
        height: 2.1em;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .name,
      .price,
      .quantity {
        width: 100%;
        text-align: center;
        line-height: 1;
      }
      .icon {
        width: 60%;
        @media (min-width: 1024px) {
          width: 69%;
        }
      }
      .price {
        background-color: rgb(255, 163, 42);
        color: #fff;
        border-radius: 1em;
        padding: 0.25em 1em;
      }
      .quantity {
        font-size: 0.8em;
      }

      @media (min-width: 1024px) {
        font-size: 1em;
        width: 18%;
      }
    }
  }

  .swiper-pag {
    margin-top: 1em;
    display: flex;
    justify-content: center;

    span {
      display: block;
      aspect-ratio: 1/1;
      width: 2em;
      height: 2em;
      line-height: 2em;
      text-align: center;
      background-color: var(--w-primary);
      color: #fff;
      border-radius: 0.5em;
    }
  }
}

.wmodal {
  .block__items {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 1em auto;
  }
  .btn-mua {
    display: block;
    margin: 1em auto;
    background-color: var(--w-primary);
    padding: 0.75em 1.5em;
    color: #fff;
  }
}
//ANCHOR script
// import Swiper from "https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js";

// const swiper = new Swiper(".shop-swiper", {
//   slidesPerView: 1,
//   autoplay: false,
//   loop: false,
//   pagination: {
//     el: ".swiper-pag",
//     clickable: true,
//     renderBullet: function (index, className) {
//       return '<span class="' + className + '">' + (index + 1) + "</span>";
//     },
//   },
// });
