$classname: character;
@import "character-novid";
#section-#{$classname} {
  height: (1000 * $em);
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: #111f40 url('../images/block-'+#{$classname}+'/bg-sm.webp')
    no-repeat center 0em scroll;
  background-size: 100vw auto;

  @media (min-width: 1024px) {
    height: (1000 * $lgem);
    background: url('../images/block-'+#{$classname}+'/bg-lg.webp') no-repeat
      center 0em scroll;
    background-size: 100vw auto;
  }
}
