$classname: diemdanh-001;
$ratio-big: 500/500;

.block__#{$classname} {
  height: (1700 * $em);
  position: relative;
  z-index: 2;
  background: #ffd1ad url('../images/block__'+#{$classname}+'/bg-sm.webp')
    no-repeat center 0em scroll;
  background-size: 100vw auto;

  @media (min-width: 1024px) {
    height: (900 * $lgem);
    background: #ffd1ad url('../images/block__'+#{$classname}+'/bg-lg.webp')
      no-repeat center 0em scroll;
    background-size: 100vw auto;
  }

  .day-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    margin-top: 11em;

    @media (min-width: 1024px) {
      margin-top: 15em;
    }

    .day {
      width: 32%;
      display: block;
      position: relative;
      background: transparent
        url('../images/block__'+#{$classname}+'/day/day001.webp') no-repeat
        center center;
      background-size: 100% 100%;
      aspect-ratio: 180/298;
      transform: scale(1);
      cursor: pointer;
      overflow: hidden;
      animation: blingbling 3s ease infinite;

      @media (min-width: 1024px) {
        width: 13%;
      }

      //with item inside
      display: flex;
      flex-wrap: wrap;
      /* flex-direction: column; */
      justify-content: center;
      align-items: center;

      padding: 1em;
      padding-top: 80 * $em;
      color: #fff;

      @media (min-width: 1024px) {
        padding: 1em;
        padding-top: 75 * $lgem;
      }
      .wrap {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        gap: 0em 0.5em;
        > .witem {
          flex-shrink: 0;
          width: 40%;
        }
      }
      // .btn-thamgia {
      //   width: 69%;
      //   margin: 11em auto 0 auto;
      // }
    }

    .day:nth-child(3n) {
      transform: translateX(0em) scale(1);
      @media (min-width: 1024px) {
        transform: translateX(0em) scale(1);
      }
    }

    .day:last-child {
      transform-origin: center top;
      /* transform: scale(1.25); */

      @media (min-width: 1024px) {
        transform: translateX(0em) scale(1);
      }
    }

    .day.disabled {
      filter: grayscale(0.5) brightness(0.69);

      .btn-thamgia {
        display: none;
      }
    }

    @for $i from 1 through 7 {
      .day:nth-child(#{$i}) {
        background-image: url('../images/block__'+#{$classname}+'/day/day00' + $i + ".webp");
        animation-delay: $i * 0.25s;
      }
    }
  }
  @media (max-width: 1024px) {
    .day:last-child {
      width: 60%;
      aspect-ratio: 298/180;
      background-image: url("../images/block__" +#{$classname}+ "/day/day007-m.webp") !important;

      .witem {
        width: 22% !important;
      }
    }
  }

  .group-button-big {
    margin: 2em auto 0;
    display: flex;
    justify-content: center;
    gap: 0.5em;

    @media (min-width: 1024px) {
      width: 45%;
    }
  }
  .group-button {
    margin: 1em auto 0;
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 0.25em;
    @media (min-width: 1024px) {
      width: 30%;
    }
  }
}
