.witem {
  line-height: 1;
  text-align: center;
  position: relative;
  aspect-ratio: 100/140;
  overflow: hidden;
  @media (min-width: 1024px) {
    aspect-ratio: 100/140;
  }

  > img {
    aspect-ratio: 1/1;
    width: 90%;
    margin: 0 auto;
  }

  > h1.name {
    margin-top: 0.25em;
    font-size: 0.9em;
  }

  > span.quantity {
    display: block;
    position: absolute;
    color: #fff;
    background-color: #900;
    padding: 0.5em;
    border-radius: 0.5em;
    top: 0;
    right: 0;
    font-size: 1em;
  }
}
