#section-01 {
  height: (1500 * $em);
  background: #ffecba url(../images/block001/bg-sm.webp) no-repeat center 0em
    scroll;
  background-size: 100vw auto;

  @media (min-width: 1024px) {
    height: (900 * $lgem);
    background: #ffecba url(../images/block001/bg-lg.webp) no-repeat center 0em
      scroll;
    background-size: 100vw auto;
  }

  .group-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;

    > .w-image-button {
      width: 60%;

      @media (min-width: 1024px) {
        width: 30%;
      }
    }
  }
}

@media (min-width: 1024px) {
}
