.cum-btn {
  background: transparent url(../images/block003/bg-cumbtn.png) no-repeat center
    top / 100% auto;
}
.info {
  color: #fff;
  background-color: rgba($color: #6b6fc1, $alpha: 0.85);
  border-radius: 1em;
  /* border: dashed var(--w-primary) 1px; */
}
