.ranking-content {
  color: var(--w-primary);
  line-height: 2.65;
  background-color: #fbf4e4;
  border: solid 2px var(--w-primary);
  border-radius: 1em;
  padding: 1em 1em;
  overflow: auto;

  thead {
    border-bottom: #ccc 1px solid;
  }
}

.quatop {
  // background: transparent url("../images/block002/quatop.png") no-repeat center
  //   center;
  // background-size: 100% 100%;
  line-height: 1.1;
  > li {
    display: grid;
    grid-template-columns: 5em auto;
    gap: 1em;
    overflow: hidden;
    border-top: 1px solid rgba(#e26742, 0.3);
    padding: 1em 0;
    > span {
      font-size: 0.9em;
      display: flex;
      align-items: center;
    }
    .w-image-block {
      display: flex;
      align-items: center;
    }
  }
}

@media (min-width: 1024px) {
  .ranking-content {
    //color: #fff;
    background-color: transparent;
    border: none;
    height: auto;
    padding: 2em 2em;
    line-height: 2.85;

    > .content {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 1em;
    }

    .quatop {
      width: 95%;
      border: 1px solid rgba(#e26742, 0.3);
      padding: 0em 1.5em;
      aspect-ratio: 1/1;
      display: grid;
      grid-template-rows: 20% 20% 20% 20% 20%;

      li:nth-child(1) {
        border: none;
      }
    }
  }
}
