.offcanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  background-color: var(--w-backdrop-color);
  opacity: 1;
  transition: opacity 0.36s ease;
}
.offcanvas-content {
  background-color: var(--w-offcanvas);
  opacity: 1;
  color: #fff;
  transition: all 0.36s ease;
  overflow: hidden;
  height: 100vh;
  filter: drop-shadow(0em 0em 0.5em rgba(0, 0, 0, 0.5));

  > .icon {
    padding: 1em;
    background-color: var(--w-primary);
  }
}
.offcanvas-content .link a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--w-offcanvas-border);
  font-size: 1em;
  line-height: 4;
}

@media (min-width: 1024px) {
  .offcanvas-content .link a {
    font-size: 1em;
  }
}

/* show */
.offcanvas:not(.show) {
  opacity: 0;
  z-index: -1;
}
.offcanvas:not(.show) .offcanvas-content {
  opacity: 0;
  margin-left: -50%;
}

/* / */
.btn-login-vgp {
  background-color: var(--w-primary);
  border-radius: 100em;
}
.btn-login-vgp span.content {
  width: 0;
  margin: 0;
  transition: width 0.36s ease;
  overflow: hidden;
  white-space: nowrap;
}
.btn-login-vgp:hover span.content {
  width: fit-content;
  margin: 0 0.5em;
}
