$classname: diemdanh-boss;

#section-#{$classname} {
  $ratio: 239/517;

  height: (1750 * $em);
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: #f7eacc url('../images/block-'+#{$classname}+'/bg-sm.webp')
    no-repeat center 0em scroll;
  background-size: 100vw auto;

  @media (min-width: 1024px) {
    height: (1200 * $lgem);
    background: url('../images/block-'+#{$classname}+'/bg-lg.webp') no-repeat
      center 0em scroll;
    background-size: 100vw auto;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em;
    row-gap: 0.5em;
  }

  .boss {
    width: 33%;
    background: no-repeat center center;
    background-size: 100% 100%;
    height: fit-content;
    aspect-ratio: $ratio;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    align-content: flex-start;
    gap: 0.5em;
    cursor: pointer;
    transform: scale(1);

    @media (min-width: 1024px) {
      width: 16%;
    }
  }

  @media (min-width: 1024px) {
    .boss:nth-child(2n) {
      transform: translateY(1.5em);
    }
  }

  @for $i from 1 through 6 {
    .boss:nth-child(#{$i}) {
      $link: "../images/block-" + #{$classname}+ "/boss/card00" + $i + ".webp";
      background-image: url($link);
    }
    .boss:nth-child(#{$i}).active {
      $link: "../images/block-" +
        #{$classname}+
        "/boss/active/card00" +
        $i +
        ".webp";
      background-image: url($link);
    }
  }
}
