.block-bxh {
  background: rgba($color: #fff, $alpha: 0.8);
  padding: 1em;
  border-radius: 1em;
  border: 2px var(--w-secondary) solid;
}

.block-gift {
  padding: 1em;
  text-align: center;

  h1 {
    display: block;
  }

  span {
    display: block;
  }

  li {
    border-top: 1px #bbb dotted;
    padding-top: 1em;
  }
}

.block-bxh table tr {
  border-top: 1px var(--w-secondary) dotted;

  .num span {
    padding: 0.15em 0.5em;
    border-radius: 0.25em;
    color: #fff;
    background-color: var(--w-secondary);
  }
}

// ON LG
@media (min-width: 1024px) {
  .block-bxh {
    background: transparent url(../images/bxh/board.png) no-repeat center center;
    background-size: 100% 100%;
    border: none;
    padding: 3em;
  }
}
