@import "../wstyle/wstyle";
@import "../wstyle/woffcanvas";
@import "../wstyle/ztimeline";
@import "../wstyle/wmodal";
@import "../wstyle/zbgvideo";
@import "../wstyle/zanimate";
@import "../wstyle/wtabs";
@import "../wstyle/scroll";
@import "../wstyle/checkin";
@import "../wstyle/float";
@import "../wstyle/character";
@import "../wstyle/wwheel";
@import "../wstyle/countdown";
@import "../wstyle/board";
@import "../wstyle/block-002";

.w-btn {
  padding: 0.5em 1em;
  border: 1px solid;
  border-radius: 0.5em;
  text-transform: uppercase;
}

.content-scroll {
  max-height: 60vh;
}
