/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

$font-fam: Arial, san-serif;
$font-size: 13px;
$body-bg: #fff;
$primaryColor: #ff0036;
$secondaryColor: #336699;
$tertiaryColor: #2f3c6a;
$darkerColor: #222;

$logoImgWidth: 260px;
$sloganImgWidth: 530px;
$headerMenuWidth: 530px;

$headerMenuColor: #336699;
$footerMenuColor: #336699;

$blockDownloadTransition: background-color 0.5s ease;

* {
  outline: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  transition: color 0.2s ease;
}
body {
  background: $body-bg url(../images/bg-big.jpg) scroll repeat-x 50% 0%;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-size: 2048px auto;
  font-size: $font-size;
}
.container {
  padding: 0;
  position: relative;
}

/*HEADER*/
header {
  height: 640px;
  background: no-repeat 50% 0%;
  background-size: auto 100%;
}
#header-menu {
  width: $headerMenuWidth;
  height: auto;
  position: relative;
  margin: 0;
  -webkit-transition: top 1s ease;
  transition: top 1s ease;
  z-index: 2;
}
#header-menu ul {
  margin: 10px auto;
  padding: 0;
  list-style: none;
  line-height: 40px;
  text-align: center;
  width: $headerMenuWidth;
  height: 40px;
}
#header-menu ul li {
  height: 42px;
  display: inline-block;
  overflow: hidden;
  padding: 0 5px;
  vertical-align: middle;
}
#header-menu ul li a {
  color: $headerMenuColor;
  display: block;
  width: 100%;
  height: 100%;
}
#header-menu ul li a::before {
  content: "";
  background: url(../images/btn-float.png) no-repeat 0% 0%;
  background-size: 300% auto;
  display: block;
  width: 40px;
  height: 40px;
  float: left;
  opacity: 1;
  margin-right: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header-menu ul li:nth-child(1) a::before {
  background-position: 50% 0%;
}
#header-menu ul li:nth-child(2) a::before {
  background-position: 50% 25%;
}
#header-menu ul li:nth-child(3) a::before {
  background-position: 50% 50%;
}
#header-menu ul li:nth-child(4) a::before {
  background-position: 50% 75%;
}
#header-menu ul li:nth-child(5) a::before {
  background-position: 50% 100%;
}
#header-menu ul li a:hover {
  opacity: 0.8;
}

/*Mobile Menu*/
#header-menu-small {
  width: 100%;
  height: 80px;
  overflow: visible;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  z-index: 4;
}
#header-menu-small a.logo {
  width: 160px;
  float: left;
  display: none;
}
#header-menu-small .btn-menu {
  background: url(../images/atlas.png) no-repeat -818px -26px;
  width: 60px;
  height: 43px;
  border: none;
  text-indent: -9999px;
  float: right;
  cursor: pointer;
  margin: 10px;
  opacity: 1;
}
#header-menu-small .btn-back {
  background: url(../images/atlas.png) no-repeat -818px -128px;
  width: 60px;
  height: 43px;
  border: none;
  text-indent: -9999px;
  float: left;
  cursor: pointer;
  margin: 10px;
  opacity: 1;
}

.mobile-menu {
  width: 100%;
  height: 0px;
  overflow: hidden;
  clear: both;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: height 0.2s ease;
}
.mobile-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 60px;
  background-color: #111;
  text-align: center;
}
.mobile-menu ul li {
  height: 60px;
}
.mobile-menu ul li a {
  display: block;
  color: #fff;
  border-top: dotted 1px #222;
}
.mobile-menu ul li a::before {
  content: "";
  background: url(../images/btn-float.png) no-repeat 0% 0%;
  background-size: 300% auto;
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: 0.25;
  margin-right: 5px;
  vertical-align: middle;
}
.mobile-menu ul li:last-child {
  background-color: #050505;
}
.mobile-menu ul li:nth-child(1) a::before {
  background-position: 100% 0%;
}
.mobile-menu ul li:nth-child(2) a::before {
  background-position: 100% 25%;
}
.mobile-menu ul li:nth-child(3) a::before {
  background-position: 100% 50%;
}
.mobile-menu ul li:nth-child(4) a::before {
  background-position: 100% 75%;
}
.mobile-menu ul li:nth-child(5) a::before {
  background-position: 100% 100%;
}

.navbar-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px !important;
  text-align: right;
  z-index: 4;
  overflow: visible;
}
.navbar-brand {
  width: 80px;
  height: 80px;
  float: left;
  padding: 0;
  margin: 5px;
  display: block;
}
.navbar-brand > a {
  background: url(../images/logo-game.png) no-repeat 0% 0%;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  text-indent: 100%;
  overflow: hidden;
  display: block;
}

//Logo
.logo-game {
  display: block;
  height: auto;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  max-width: $logoImgWidth;
  margin: 50px auto 0px auto;
}
.logo-game img {
  width: 100%;
  height: auto;
}

//Slogan IMG
.img {
  position: absolute;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  height: auto;
}
.img-slogan-01 {
  width: $sloganImgWidth;
  z-index: 1;
  top: 0;
  left: 0%;
  //transform: translateX(-50%);-webkit-transform: translateX(-50%);
}
.img-slogan-01 > img {
  max-height: $sloganImgWidth;
  width: 100%;
  height: auto;
  margin: -30px auto 0 auto;
}

//Block QR Code
.block-qr {
  width: 350px;
  overflow: visible;
  margin: 0px auto 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
}
.block-qr .qr-code {
  width: 100%;
  height: auto;
  img {
    width: 100%;
    height: auto;
    margin-top: 1.5px;
  }
}
.block-qr .appstore {
  width: 100%;
  > a {
    margin-bottom: 3px;
    display: block;
  }
}
.appstore a span {
  width: 100%;
  height: 0;
  padding-top: 33.3333%;
  text-indent: -9999px;
  background: url(../images/atlas.png) no-repeat 0% 0%;
  background-size: auto 500%;
  display: block;
}

.appstore > a.googleplay span {
  background-position: 33.3333% 100%;
}
.appstore > a.googleplay:hover span {
  background-position: 100% 100%;
}
.appstore > a.appstore span {
  background-position: 0% 100%;
}
.appstore > a.appstore:hover span {
  background-position: 66.6666% 100%;
}

#body-content {
  margin-top: 0px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  height: auto;
  .container {
    z-index: 1;
  }
}

.block {
  padding: 0;
  position: relative;
}

//Download Block
.block-download {
  background-color: transparent;
  height: 490px;
  padding: 0 15px 0 0;
  overflow: hidden;
  //&::after {content: "";height: calc(100% - 100px);width: calc(100% - 15px);background-color: #242c31;position: absolute;bottom: 0;}
  .icon {
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center;
    img {
      width: auto;
      height: 100%;
      position: relative;
      z-index: 1;
    }
  }
  .button-download {
    width: 100%;
    height: calc(100% - 100px);
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: url(../images/block-download.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding-top: 100px;
    margin-top: -100px;
    border-radius: 15px;
    z-index: 0;
    > a {
      display: block;
      width: 100%;
      height: 25%;
      border: none;
      overflow: hidden;
      position: relative;
      &::after {
        content: "";
        width: 69%;
        height: 1px;
        background-color: #ffff99;
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
      span {
        display: inline-block;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1.1em;
        color: #fff;
        line-height: 1.1em;
        text-align: left;
        min-width: 160px;
        margin-top: 18px;
        strong {
          font-size: 1.5em;
          color: #fff;
          font-weight: normal;
          display: block;
        }
        &::before {
          content: "";
          background: url(../images/atlas.png) no-repeat 50% 50%;
          background-size: auto 500%;
          width: 46px;
          height: 46px;
          display: block;
          float: left;
          margin: -5px 6px 0 0;
        }
      }
    }
  }
}

.button-download > a:nth-child(1) span::before {
  background-position: 100% 0%;
}
.button-download > a:nth-child(2) span::before {
  background-position: 100% 25%;
}
.button-download > a:nth-child(3) span::before {
  background-position: 100% 50%;
}
.button-download > a:nth-child(4) span::before {
  background-position: 100% 75%;
}
.button-download > a:nth-child(4)::after {
  display: none;
}
//Hover
.button-download > a:hover {
  background-color: $tertiaryColor;
  -webkit-transition: $blockDownloadTransition;
  transition: $blockDownloadTransition;
}
.button-download > a:hover::after {
  background-color: $tertiaryColor;
  width: 100%;
  -webkit-transition: $blockDownloadTransition;
  transition: $blockDownloadTransition;
}

//Button Block
.block-button {
  height: 100px;
  padding: 0 0 0 0;
}
.button-menu {
  height: auto !important;
  margin: 0;
  padding: 0 0px;
}
.button-menu > a {
  background: url(../images/atlas.png) no-repeat 0% 0%;
  background-size: auto 500%;
  display: block;
  width: 100%;
  height: 0;
  padding-top: 33.3333%;
  text-indent: -9999px;
  overflow: hidden;
}

#btn-giftcode a {
  background-position: 0% 0%;
}
#btn-group a {
  background-position: 0% 25%;
}
#btn-fanpage a {
  background-position: 0% 50%;
}
#btn-character a {
  background-position: 0% 75%;
}
#btn-giftcode a:hover {
  background-position: 33.3333% 0%;
}
#btn-group a:hover {
  background-position: 33.3333% 25%;
}
#btn-fanpage a:hover {
  background-position: 33.3333% 50%;
}
#btn-character a:hover {
  background-position: 33.3333% 75%;
}

//Slide
.block-character {
  height: 400px;
  padding: 0;
  position: relative;
  margin: 15px auto;
}

.block-slide-char {
  overflow: hidden;
  height: auto;
  padding: 0;
}
.block-slide-char div {
  width: auto;
  height: 100%;
  padding: 0;
  position: relative;
}
.block-slide-char img {
  width: auto;
  height: 100%;
  padding: 0;
}
a.button-character {
  background: url(../images/btn-menu.png) no-repeat 100% 100%;
  display: block;
  text-indent: -9999px;
  width: 150px;
  height: 40px;
  position: absolute;
  bottom: 5%;
  right: 45px;
  z-index: 10;
}
a.button-character:hover {
  background-position: 100% 80%;
}

.block-slide-char .slick-dots {
  position: absolute;
  bottom: 20px;
  right: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 999;
}
.block-slide-char .slick-dots li {
  background-color: #fff;
  height: 12px;
  width: 12px;
  border-radius: 15px;
  overflow: hidden;
  padding: 0;
  float: left;
  margin: 0 5px;
  opacity: 0.3;
}
.block-slide-char .slick-dots li button {
  background-color: transparent;
  height: 100%;
  width: 100%;
  text-indent: -9999px;
  border: none !important;
  padding: 0;
  display: block;
  overflow: hidden;
}
.block-slide-char .slick-dots li.slick-active {
  background-color: $primaryColor;
  opacity: 1;
}

//Block Support
.block-support {
  height: 390px;
  overflow: hidden;
  padding: 0 0 0 0px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
  background: url(../images/block-support.jpg) no-repeat 50% 50%;
  background-size: 100% 100%;
  > a {
    background: url(../images/btn-support.png) no-repeat 0% 0%;
    background-size: auto 200%;
    display: block;
    text-indent: -9999px;
    width: 100%;
    height: 100%;
    &:nth-child(2) {
      background-color: rgba(0, 0, 0, 0.15);
    }
    &:nth-child(3) {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}
.block-support a:nth-child(1) {
  background-position: 0% 0%;
}
.block-support a:nth-child(2) {
  background-position: 33.3333% 0%;
}
.block-support a:nth-child(3) {
  background-position: 66.6666% 0%;
}
.block-support a:nth-child(4) {
  background-position: 100% 0%;
}
.block-support a:nth-child(1):hover {
  background-position: 0% 100%;
}
.block-support a:nth-child(2):hover {
  background-position: 33.3333% 100%;
}
.block-support a:nth-child(3):hover {
  background-position: 66.6666% 100%;
}
.block-support a:nth-child(4):hover {
  background-position: 100% 100%;
}

//BLOCK CHARACTER
.block-character {
  height: auto;
  padding: 60px 0 50px 0;
  position: relative;
  top: -30px;
  margin: 0px auto 0 auto;
  background: url(../images/bg-character.jpg) no-repeat 50% 50%;
  background-size: auto 100%;
  overflow: visible;
  clear: both;
  z-index: 0;
}
.slider-character {
  width: 100%;
  height: 390px;
  background: url(../images/block-character.png) no-repeat 50% 0%;
  background-size: cover;
  display: block;
}
.slider-character a {
  width: 20%;
  height: inherit;
  float: left;
  display: block;
  text-indent: -9999px;
  background: url(../images/block-character.png) no-repeat 0% 100%;
  background-size: auto 200%;
  opacity: 0;
  -webkit-transform: rotateY(30deg);
  transform: rotateY(30deg);
  -webkit-transition: all 0.1s ease;
  transition: all 0.2s ease;
}
.slider-character a:nth-child(1) {
  background-position: 0% 100%;
}
.slider-character a:nth-child(2) {
  background-position: 25% 100%;
}
.slider-character a:nth-child(3) {
  background-position: 50% 100%;
}
.slider-character a:nth-child(4) {
  background-position: 75% 100%;
}
.slider-character a:nth-child(5) {
  background-position: 100% 100%;
}
.slider-character a:hover {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

//Footer
footer {
  height: 200px;
  text-align: center;
  color: #414141;
  background: #fff no-repeat 50% 0%;
  background-size: 100% auto;
  position: relative;
  margin-top: 0px;
  z-index: 0;
}
footer .content {
  width: 100%;
  height: auto;
  padding: 0px 0 10px 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  line-height: 1.6em;
  img {
    height: 55px;
    width: auto;
    vertical-align: middle;
    display: inline-block;
  }
}
footer .content p {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding: 10px;
  margin: 0;
  > a {
    color: #f60;
  }
}
footer ul {
  text-align: center;
  list-style: none;
  padding: 10px 0;
  margin: 20px 0 0 0;
}
footer ul li {
  display: inline-block;
  padding: 0 20px;
  border-right: solid 1px $footerMenuColor;
}
footer ul li:last-child {
  border-right: none;
}
footer ul li a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  color: $footerMenuColor;
  line-height: 1.3em;
  text-transform: uppercase;
}
footer ul li a:hover {
  color: #fff;
}

/*Float*/
#float-menu {
  width: 40px;
  height: auto;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 10;
}
#float-menu:hover {
  width: 130px;
}
#float-menu ul {
  padding: 0;
  margin: 0;
  line-height: 40px;
  background-color: $darkerColor;
  height: 200px;
  width: 130px;
  list-style: none;
}
#float-menu ul li {
  width: 100%;
  height: 40px;
}
#float-menu ul li a {
  display: block;
  font-size: 1em;
  color: #fff;
  border-bottom: dotted 1px #222;
}
#float-menu ul li a::before {
  content: "";
  background: url(../images/btn-float.png) no-repeat 0% 0%;
  background-size: 300% auto;
  display: block;
  width: 40px;
  height: 40px;
  float: left;
  opacity: 0.3;
  margin-right: 5px;
  transition: all 0.3s ease;
}
#float-menu ul li:nth-child(1) a::before {
  background-position: 100% 0%;
}
#float-menu ul li:nth-child(2) a::before {
  background-position: 100% 25%;
}
#float-menu ul li:nth-child(3) a::before {
  background-position: 100% 50%;
}
#float-menu ul li:nth-child(4) a::before {
  background-position: 100% 75%;
}
#float-menu ul li:nth-child(5) a::before {
  background-position: 100% 100%;
}
#float-menu ul li:hover a {
  color: #fff;
}
#float-menu ul li:hover a::before {
  opacity: 1;
}

/*Popup Video*/
#popup-video {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 99;
  padding: 5%;
}
#popup-video iframe {
  width: 100%;
  height: 100%;
}
#popup-video #btn-close-popup {
  width: 100px;
  height: 30px;
  background-color: #222;
  position: absolute;
  top: 1%;
  right: 1%;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
}
#popup-video #btn-close-popup:hover {
  background-color: #111;
}

/*RESPONSIVE*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  body {
    font-size: 13px;
    background-size: 1550px auto;
  }
  header {
    height: 480px;
  }

  $sloganImgWidth: 350px;
  $headerMenuWidth: 350px;
  .logo-game {
    width: 100%;
    margin-top: 60px;
    max-width: 200px;
  }
  .img-slogan-01 {
    width: $sloganImgWidth;
    img {
      margin-top: -10px;
    }
  }
  .block-qr {
    width: 250px;
  }

  #body-content {
    margin-top: 0px;
  }
  .block-download {
    height: 408px;
  }
  .block-download > .icon {
    height: 150px;
  }
  .block-download .button-download {
    height: calc(100% - 50px);
  }
  .button-download > a span {
    margin-top: 10px;
  }
  .block-button {
    height: 85px;
  }
  .block-support,
  .block-slide-char {
    height: 323px;
  }

  .news-title > ul li {
    padding: 0 15px;
  }
  .news-content > ul {
    line-height: 38px;
    padding: 10px 20px;
  }
  .news-content > ul li {
    height: 38px;
  }
  .block-character {
    .slider-character {
      height: 323px;
    }
  }
  .block-bottom {
    padding-top: 0px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  body {
    background: $body-bg url(../images/bg-big.jpg) no-repeat 50% -15%;
    background-size: 1400px auto;
  }
  #float-menu {
    display: none;
  }
  header {
    height: 370px;
  }
  .img-slogan-01 {
    width: 400px;
  }
  .logo-game {
    margin-top: 0px;
    width: 90%;
  }
  .block-qr {
    width: 200px;
    display: none;
  }
  .navbar-header {
    display: none !important;
  }

  .block-download > .icon::before {
    display: none;
  }
  .block-download {
    height: 160px;
    padding: 0;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 160px auto;
    > .icon {
      height: 160px;
      width: 160px;
      float: left;
      padding: 10px;
      background-color: #000;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    .button-download {
      padding-top: 0;
      margin-top: 0;
      height: 100%;
      background-color: $darkerColor;
      background-image: none;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 1px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      a {
        height: 100%;
        width: 100%;
        background-color: $secondaryColor;
      }
      a::after {
        display: none;
      }
      a span {
        margin-top: 20px;
      }
    }
  }

  .block-button {
    height: auto;
    padding: 0 0px 10px 0px !important;
  }
  .block-support,
  .block-slide-char {
    height: 342px;
  }

  .block-news {
    height: auto;
  }
  .news-title > ul li {
    padding: 0 25px;
  }
  .news-content > ul {
    line-height: 50px;
    padding: 15px 5%;
  }
  .news-content > ul li {
    height: 50px;
  }
  .block-character {
    padding: 40px 0 20px 0;
    .slider-character {
      height: 249px;
    }
  }
  //footer {margin-top: 0px;height: 205px;}
  #body-content::after {
    height: 0px !important;
  }
  footer {
    margin-top: 25px;
    background-position: 50% 100%;
    background-color: $body-bg;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  body {
    background: $body-bg url(../images/bg-big2.jpg) no-repeat 50% 0%;
    background-size: 768px auto;
  }
  .container {
    width: 90%;
    max-width: 480px;
  }
  header {
    height: 370px;
  }
  .img-slogan-01 {
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    .logo-game {
      margin-top: 50px;
    }
  }
  .block-slider {
    height: auto;
  }
  .button-menu {
    padding: 0px 0;
  }
  #btn-trailer {
    width: 320px;
    height: 200px;
    margin-top: 300px;
  }

  .block-download {
    height: 130px;
    padding: 0;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 130px auto;
    > .icon {
      height: 130px;
      width: 100%;
    }
    .button-download a span {
      margin-top: 15px;
    }
  }

  .block-slide-char {
    height: auto;
    padding-bottom: 0px;
  }
  .block-slide-char img {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .block-support {
    padding: 0px 0 0px 0;
    height: 120px;
    grid-template-columns: 25% 25% 25% 25%;
    background-image: none;
    background-color: #0c4077;
    > a:nth-child(3) {
      background-color: rgba(0, 0, 0, 0);
    }
    > a:nth-child(4) {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  footer {
    margin-top: 25px;
    overflow: hidden;
    height: auto;
    .content {
      position: relative;
      margin: 0 auto;
      max-width: 480px;
      img {
        height: 50px;
      }
      span {
        display: block;
      }
      p {
        text-align: center;
        font-size: 0.9em;
      }
    }
    ul li {
      padding: 0 15px;
    }
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  body {
    background-size: 520px auto;
  }
  .container {
    width: 100%;
  }
  header {
    height: 410px;
  }
  .img-slogan-01 {
    width: 300px;
    .logo-game {
      margin-top: 20px;
      max-width: 180px;
    }
  }

  .block-download .button-download > a span::before {
    display: none !important;
  }
  .block-download .button-download > a span {
    text-align: center;
    margin: 18px 0 0 0;
    min-width: 0;
    font-size: 0.9em;
  }

  .button-menu > a {
    text-align: center;
    text-indent: 0px;
    background-position: 66.666% 50% !important;
    color: #fff;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translateX(-50%, -50%);
      font-size: 1.4em;
      text-transform: uppercase;
      width: 100%;
      > i {
        font-size: 0.5em;
        display: block;
        font-style: normal;
        letter-spacing: 5px;
        text-align: center;
        text-indent: 5px;
        color: #ffe44a;
      }
    }
  }

  .block {
    padding-top: 100%;
  }
  .block-support {
    grid-template-columns: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    > a:nth-child(4) {
      background-color: rgba(0, 0, 0, 0);
    }
    > a:nth-child(3) {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  #header-menu ul {
    width: 220px;
  }
  #body-content {
    margin-top: -0px;
  }
  .news-title > ul li {
    padding: 0 15px;
  }
  .news-content > ul li a span {
    display: none;
  }

  #body-content::after {
    height: 80px !important;
  }
  footer .content p {
    font-size: 0.8em;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  body {
    background-size: 450px auto;
  }
  .img-slogan-01 {
    width: 220px;
    .logo-game {
      margin-top: 20px;
    }
  }
  header {
    height: 270px;
  }
  .news-title > ul li {
    padding: 0 10px;
  }
  .block-character .container {
    padding-top: 99%;
  }
  .block-support-inside {
    height: 100%;
  }
  .button-support {
    width: 50% !important;
    height: 50%;
  }

  footer .content p {
    font-size: 0.7em;
  }
}

.block-18 {
  width: 18em;
  margin: 0 auto;
  background: transparent url("../images/img-pg18.webp") no-repeat center bottom
    scroll;
  background-size: 100% 100%;
  aspect-ratio: 585/274;

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 33%;
    width: 100%;

    a {
      text-indent: -9999px;
      display: block;
    }
  }
}
