body {
  // background: var(--w-bg-color) url("../images/bg-sm.jpg") no-repeat center 0em
  //   scroll;
  // background-size: 100% auto;
  #section-01 {
    background: var(--w-bg-color) url("../images/bg-001-sm.jpg") no-repeat
      center 0em scroll;
    background-size: 100vw auto;
  }
  #section-02 {
    background: var(--w-bg-color) url("../images/bg-002-sm.jpg") no-repeat
      center 0em scroll;
    background-size: 100vw auto;
  }
  #section-03 {
    background: var(--w-bg-color) url("../images/bg-003-sm.jpg") no-repeat
      center 0em scroll;
    background-size: 100vw auto;
  }
  #section-04 {
    background: var(--w-bg-color) url("../images/bg-004-sm.jpg") no-repeat
      center 0em scroll;
    background-size: 100vw auto;
  }
}
/* lg */
@media (min-width: 1024px) {
  // body {
  //   background: var(--w-bg-color) url("../images/bg-lg.jpg") no-repeat center
  //     top scroll;
  //   background-size: 100vw auto;
  // }
  body {
    #section-01 {
      background-image: url(../images/bg-001.jpg);
    }
    #section-02 {
      background-image: url(../images/bg-002.jpg);
    }
    #section-03 {
      background-image: url(../images/bg-003.jpg);
    }
    #section-04 {
      background-image: url(../images/bg-004.jpg);
    }
  }
  .wcontainer {
    width: 75%;
  }
  .block-button button {
    height: 15.625em;
  }
  .block-button button img {
    display: none;
  }

  /* 03 */
  .layout-section03 {
    grid-template-areas: "wheel slogan" "wheel status" "wheel button";
  }
}

form input,
form select {
  color: #414141;
}

.header-sm {
  background: transparent url("../images/bg-header.png") no-repeat center center;
  background-size: 100% 100%;
}

.block-henuoc {
  background: transparent url("../images/block-henuoc.png") no-repeat center
    center;
  background-size: 100% 100%;
}

.block-status {
  padding: 1em 2em;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid var(--w-secondary);
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-status span {
  color: var(--w-highlight);
}

.cum-button {
  border: 1px solid var(--w-secondary);
  border-radius: 0.5em;
  overflow: hidden;
}
.cum-button button {
  padding: 0.69em 0;
  background-color: rgba(255, 255, 255, 0.69);
  border-left: 1px solid var(--w-secondary);
}
.cum-button button:first-child {
  border-left: 0px solid var(--w-secondary);
}
.cum-button button:hover {
  color: var(--w-secondary);
  background-color: rgba(255, 255, 255, 1);
}

.cum-button.dark {
  border: 1px solid var(--w-primary);
}
.cum-button.dark button {
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 1px solid var(--w-primary);
  color: #fff;
}
.cum-button.dark button:hover {
  color: var(--w-highlight);
  background-color: var(--w-secondary);
}

#section-menu-nav a {
  margin: 0 0.75em;
  display: block;
  text-align: center;
  opacity: 0.8;
  transition: opacity 0.36s ease;
}
#section-menu-nav a:hover {
  opacity: 1;
}

.page-nav a {
  opacity: 0.8;
}
.page-nav a:hover {
  opacity: 1;
}

.wbadge {
  color: #fff;
  padding: 0.25em 0.5em;
  position: absolute;
  border-radius: 0.5em;
}

#section-final {
  background: transparent url("../images/block-final.jpg") no-repeat center
    center;
  background-size: 100% 100%;
}
.block-img-store {
  background: transparent url("../images/store-badge/img-store.png") no-repeat
    center center;
  background-size: 100% 100%;
}
.block-img-store a {
  overflow: hidden;
  display: block;
  text-indent: -9999px;
}
.search-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1em;
  border: 1px solid var(--w-primary);
}

.block-hoatdong button,
.block-hoatdong button > img {
  transition: all 0.36s ease;
}
.block-hoatdong button:hover {
  filter: drop-shadow(0px 0px 0.5em rgba(125, 238, 255, 0.5));
  > img {
    transform: scale(1.05);
  }
}

.alert {
  color: red;
  margin: 0.5em auto;
}

#page-num {
  position: fixed;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);

  ul li a {
    width: 0.75em;
    height: 0.75em;
    text-indent: -9999px;
    overflow: hidden;
    background-color: #fff;
    display: block;
    border-radius: 100%;
    opacity: 0.5;
    transition: opacity 0.36s ease;
  }

  a.active {
    opacity: 1;
  }
}

#section-vgp {
  background-color: #111;
}

.block-boss .boss-img img {
  transform: scale(0.5);
  transition: all 0.36s ease;
  opacity: 0;
}
.block-boss .boss-img img.active {
  opacity: 1;
  transform: scale(1);
}
.block-boss-icon {
  background: transparent url("../images/boss/boss-board.png") no-repeat center
    center;
  background-size: 100% 100%;
  width: 100%;
  position: absolute;
  bottom: 0;

  button {
    cursor: pointer;
    background-color: #131517;
    border: solid 1px rgba(255, 255, 255, 0.5);
  }
}
