@font-face {
    font-family: 'iCiel Panton';
    src: url('iCielPanton-Light.woff2') format('woff2'),
        url('iCielPanton-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iCiel Panton';
    src: url('iCielPanton-Black.woff2') format('woff2'),
        url('iCielPanton-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

