@import "../wstyle/wstyle";
@import "../wstyle/woffcanvas";
@import "../wstyle/ztimeline";
@import "../wstyle/wmodal";
@import "../wstyle/zbgvideo";
@import "../wstyle/zanimate";
@import "../wstyle/wtabs";
@import "../wstyle/scroll";
@import "../wstyle/checkin";
@import "../wstyle/float";
@import "../wstyle/character";
@import "../wstyle/wwheel";
@import "../wstyle/block-gift";
@import "../wstyle/wrapp";
@import "../wstyle/splitter";
@import "../wstyle/block-boss";

.w-btn {
  padding: 0.35em 1em;
  border: 1px var(--w-primary) solid;
  border-radius: 1em;
}
