.block-character {
  /* background: transparent url("../images/character/bg-char.webp") no-repeat
    center center scroll; */
  background-size: 100% auto;
}

.character-slide {
  aspect-ratio: 600/735;

  .swiper-slide img {
    position: absolute;
    top: 0;
    left: -10em;
    width: 300%;
    max-width: 300% !important;
    height: auto;
  }
  .swiper-slide video {
    position: absolute;
    bottom: 5%;
    right: 0%;
    aspect-ratio: 1200/561;
    background-color: #000;
    width: 66%;
    display: none;
  }
}

.character-thumb-slide {
  .swiper-slide:not(.swiper-slide-thumb-active) {
    img {
      opacity: 1;
      filter: brightness(0.5);
    }
  }
}

@media (min-width: 1024px) {
  .character-slide {
    aspect-ratio: 1920/735;

    .swiper-slide img {
      width: 100%;
      left: 0em;
    }

    .swiper-slide video {
      display: block;
    }
  }
}
