@import "../wstyle/wstyle";
// @import "../wstyle/popup-login";
@import "../wstyle/wmodal";
@import "../wstyle/zanimate";

@import "../images/login/login";
@import "../images/bgvideo/bgvideo";

.w-btn {
  padding: 0.5em 1em;
  border: 1px var(--w-secondary) solid;
  border-radius: 1em;
}

.info {
  background-color: rgba($color: #726151, $alpha: 0.75);
  color: #fff;
  filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.25));
  border-radius: 1em;
}
