/* lg */
@media (min-width: 1024px) {
  .feature {
    background: transparent url(../images/block004/group-button.webp) no-repeat
      center center scroll;
    background-size: 100% auto;
    animation-name: blingbling;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    button img {
      opacity: 0;
    }
  }
}
