.board {
  background: url("../images/block003/board-sm.webp") no-repeat center 0em
    scroll;
  background-size: 100% auto;
  aspect-ratio: 837/1400;
  padding: 0em 2em;
  color: #111;

  .title {
    width: 15em;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .wrapp {
    height: 35.5em;
    overflow: auto;
  }
}

@media (min-width: 1024px) {
  .board {
    background: url("../images/block003/board.webp") no-repeat center 0em scroll;
    background-size: 100% 100%;
    aspect-ratio: 837/780;
    width: 88%;
    margin: 0 auto;
    padding: 0em 3em;

    .title {
      width: 22em;
    }
    .wrapp {
      margin-top: 1.5em;
      height: 31.25em;
    }
  }
}
