@import "../wstyle/wstyle";
@import "../wstyle/woffcanvas";
@import "../wstyle/ztimeline";
@import "../wstyle/wmodal";
@import "../wstyle/zbgvideo";
@import "../wstyle/zanimate";
@import "../wstyle/wtabs";
@import "../wstyle/scroll";
@import "../wstyle/checkin";
@import "../wstyle/float";
@import "../wstyle/character";
@import "../wstyle/wwheel";
@import "../wstyle/modal-gift-content";

.w-btn {
  padding: 0.5em 1em;
  border: 1px var(--w-secondary) solid;
  border-radius: 1em;
}

.info {
  background-color: rgba($color: #fff, $alpha: 0.8);
  filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.25));
  border-radius: 1em;
}

/* ANCHOR section-001 */

/* ANCHOR section-002 */
.block-gift {
  background: url("../images/block002/block-gift.webp") no-repeat center center;
  background-size: 100% 100%;
  aspect-ratio: 432/653;
  padding: 8em 3em 0em 3em;
  .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin-top: 1em;
    height: 12em;
    padding: 0em 1em;
    gap: 0em;

    > div {
      width: 33%;
      margin: 0;
      height: fit-content;
      aspect-ratio: 1/1;
    }
  }
  .price {
    padding: 1em 0em;
    height: 5em;
    text-align: center;
    line-height: 1;
    display: block;
    margin-top: 1em;

    .old {
      text-decoration: line-through;
    }
    .new {
      color: #fff;
      font-size: 2em;

      > span {
        background-color: red;
        font-size: 0.5em;
        padding: 0.25em;
        border-radius: 0.5em;
      }
    }
  }

  .btn-muangay {
    margin-top: 1em;
  }
}

@media (min-width: 1024px) {
  .block-gift:nth-child(2) {
    margin-top: 0em;
  }

  .block-gift {
    margin-top: 2em;
    .price {
      margin-top: 0.25em;
    }
    .btn-muangay {
      margin-top: 0.75em;
    }
  }
}

/* ANCHOR section-003 */
.block-gift-2 {
  background: url("../images/block003/block-gift.webp") no-repeat center center;
  background-size: 100% 100%;
  aspect-ratio: 216/524;
  width: 33%;
  height: fit-content;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 2em 2em 2.5em;

  .title {
    font-size: 1em;
    color: var(--w-primary);
    line-height: 1;
    text-align: center;
  }

  .item {
    width: 85%;
    height: fit-content;
  }
  .btn-nhanqua {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .block-gift-2 {
    width: 20%;
    padding: 2.5em 2em 3.5em;

    .item {
      width: 75%;
    }

    .btn-nhanqua {
      width: 80%;
    }
  }

  .block-gift-2:nth-child(1) {
    margin-top: 3em;
  }
  .block-gift-2:nth-child(2) {
    margin-top: 2em;
  }
  .block-gift-2:nth-child(4) {
    margin-top: 2.75em;
  }
  .block-gift-2:nth-child(5) {
    margin-top: 4em;
  }
}

/* ANCHOR section-004 */

/* ANCHOR section-005 */
