//close
.btn-close-modal {
  background: transparent url("../images/btn-close-modal.webp") no-repeat center
    center;
  background-size: 100% 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: all 0.36s ease;
  width: 8em;
  aspect-ratio: 184/50;
  border: none;
  border-radius: 1em;
  transition: all 0.36s ease;
  &:hover {
    filter: brightness(1.2);
  }
}

//modal with bg
.wmodal-dialog {
  background: transparent url("../images/bg-popup.png") no-repeat center center;
  background-size: 100% 100%;
  /* animation */
  transform: scale(1);
  transition: transform 0.5s ease;
  width: 80%;
  padding: 0;
  color: #414141;

  > .content {
    padding-bottom: 3em;
  }
}

.wmodal-dialog .title {
  text-align: center;
  text-transform: uppercase;
  height: 6em;
  line-height: 6em;
}
.wmodal-dialog .content-scroll {
  overflow: auto;
  max-height: 42em;
  padding: 0 3em 4em 3em;
  .h-fit {
    //font-size: 1.6rem;
  }
}

.btn-close-modal:hover {
  filter: brightness(1.5);
}

/*  */
.wmodal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--w-backdrop-color);
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.36s ease;
  overflow: hidden;
  color: #414141;
  font-size: 1em;
  backdrop-filter: blur(2px);
}

.wmodal-content {
  background-color: rgba(255, 255, 255, 0.95);
  border: solid 1px var(--w-primary);
  filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.15));
  border-radius: 2em;
  transform: scale(1);
  transition: transform 0.5s ease;
  width: 90%;
  padding: 2em;
  padding-top: 3em;

  .title {
    text-align: center;
    padding-bottom: 1em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    letter-spacing: 0.5em;
    border-bottom: 1px var(--w-primary) dotted;
  }
  .h-fit {
    //font-size: 1.6rem;
  }
}

.wmodal-content.youtube {
  padding: 0em;
  background: transparent;
  border: none;
}

.wmodal:not(.show) {
  opacity: 0;
  z-index: -1;
}
.wmodal:not(.show) .wmodal-content,
.wmodal:not(.show) .wmodal-dialog {
  transform: scale(0.8);
}
.wmodal > .wmodal-content > .wrap {
  background-color: var(--w-popup-color);
  border-radius: 1em;
  overflow: hidden;
}

.wmodal-dialog .title span,
.wmodal-content .title span {
  font-size: 1.5em;
  color: var(--w-primary);
}

.content-scroll {
  max-height: 69vh;
  overflow: auto;
}

/* lg */
@media (min-width: 1024px) {
  .btn-close-modal {
    width: 8em;
  }

  .wmodal-content {
    max-width: 30em;
    padding-bottom: 2em;

    &.youtube {
      max-width: 50em;
    }
  }
  .wmodal-dialog {
    max-width: 32em;
    padding-bottom: 2em;
  }

  .wmodal-dialog .title {
    height: 6em;
    line-height: 6em;
  }
  .wmodal-content .title span,
  .wmodal-dialog .title span {
    font-size: 1.75em;
  }
  .wmodal-dialog .content-scroll {
    font-size: 1em;
    height: 33em;
    padding: 0 3em 4em 3em;
  }

  .wmodal-content .h-fit,
  .wmodal-dialog .content-scroll .h-fit {
    font-size: 1em;
  }
}
